@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
     text-align: center; 
}
h2
{
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    /* text-align: center; */
}
p
{
    text-align: center;
    margin: 10px 40px 10px 40px;
    font-size: 20px;
}
.resumen
{
    text-align: justify;
    
}
h1{
    text-align: left;
}

.tapaTesis
{
    float: center;
}
/* img{
    float: left;
    margin-left: -10px;
  } */
  .Autor
{
    float: left;
}




